streamlit>=1.37.0
groq
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
PyPDF2
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
reportlab
